<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-17b53b9b-1a3e-486c-8113-6da77817fe0f;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-17b53b9b-1a3e-486c-8113-6da77817fe0f.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name ="ChinookDB" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>
